html.dark {
  background-color: rgb(15, 23, 42);
  /* Set the path to your image */
  background-image: url('../public/arch-dark.svg');

  background-size: cover; /* 100% width, auto height */
  background-position: top center;
  background-repeat: no-repeat;
}

html {
  background-color: #abd1b7;
  /* Set the path to your image */
  background-image: url('../public/arch.svg');

  background-size: cover; /* 100% width, auto height */
  background-position: top center;
  background-repeat: no-repeat;
}
